<network>
    <name>ocp4</name>
    <domain name='compute.local'/>
    <forward mode='nat'/>
    <dns>
        <forwarder domain='compute.local' addr="192.168.50.2"/>
        <host ip='192.168.50.2'>
            <hostname>bastion.compute.local</hostname>
        </host>
    </dns>

    <ip address='192.168.50.1' netmask='255.255.255.0'>
        <dhcp>
            <host mac='52:54:00:00:50:02' name='bastion.compute.local' ip='192.168.50.2'/>
	    <host mac='52:54:00:00:50:03' name='bootstrap.compute.local' ip='192.168.50.3'/>
   	    <host mac='52:54:00:00:50:04' name='master-0.compute.local' ip='192.168.50.4'/>
   	    <host mac='52:54:00:00:50:05' name='worker-0.compute.local' ip='192.168.50.5'/>
   	    <host mac='52:54:00:00:50:06' name='worker-1.compute.local' ip='192.168.50.6'/>
       	    <host mac='52:54:00:00:50:07' name='worker-2.compute.local' ip='192.168.50.7'/>
        </dhcp>
    </ip>
</network>
